/* Stili generali del corpo */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Stili della navbar */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #45301Fff !important;
    margin-right: 50px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #C19151ff !important;
}

.navbar-icon {
    margin-right: 35px;
}

.navbar-nav .nav-link {
    color: #795638ff !important;
}

.navbar-nav .nav-link:hover {
    color: #C19151ff !important;
}

/* Stili della barra di ricerca */
.form-inline .form-control {
    width: 250px;
}

.form-inline button,
.form-signup-login .btn-primary,
.form-signup-login .btn-secondary,
.header-content .btn-discover-more,
.custom-button {
    color: #fff;
    background-color: #795638ff;
    border-color: #45301Fff;
}

.form-inline button:hover,
.form-signup-login .btn-primary:hover,
.form-signup-login .btn-secondary:hover,
.header-content .btn-discover-more:hover,
.custom-button:hover {
    background-color: #C19151ff;
    border-color: #795638ff;
}

.form-inline button:active,
.form-signup-login .btn-primary:active,
.form-signup-login .btn-secondary:active,
.header-content .btn-discover-more:active,
.custom-button:active {
    background-color: #C19151ff;
    border-color: #795638ff;
}

@media (max-width: 992px) {
    .form-inline .form-control,
    .form-inline button {
        width: 100%;
        margin-top: 10px;
    }
}

.header-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 40px;
}

.header-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: -1;
}

.header-content {
    position: relative;
    z-index: 2;
}

h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #45301Fff;
    font-weight: bold;
}

h5 {
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #9B6737;
    font-weight: bold;
}

.login-panel {
    position: relative;
    z-index: 2;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    max-width: 400px;
    margin: 20px 0;
    margin-left: auto;
}

.footer {
    background-color: #f4f4f4;

}

.footer a {
    text-decoration: none;
    color: #795638ff;
}

.footer a:hover {
    color: #C19151ff;
}

.footer h5 {
    margin-bottom: 10px;
    color: #45301Fff;
}

.footer p {
    margin: 0;
    color: #795638ff;
}

.footer .container {
    max-width: 960px;
    padding: 0 20px;
}

.footer .text-center {
    color: #45301Fff;
    padding-top: 10px;
}

@media (max-width: 992px) {
    .header-image {
        padding: 0 20px;
        flex-direction: column;
    }

    .header-content, .login-panel {
        width: 100%;
        text-align: center;
    }

    .login-panel {
        margin: 20px auto;
    }

    .header-content h1 {
        margin-top: 20px;
    }
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('images/cover.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.auth-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.auth-form h1 {
    color: #45301Fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth-form .form-group {
    margin-bottom: 20px;
}

.auth-form .btn-primary {
    color: #fff;
    background-color: #795638ff;
    border-color: #45301Fff;
}

.auth-form .btn-primary:hover {
    background-color: #C19151ff;
    border-color: #795638ff;
}

.thank-you-message h5 {
    color: #795638ff;
    font-weight: bold;
}

.book-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.book-cover {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.book-info h5 {
    color: #45301Fff;
    margin-bottom: 10px;
}

.book-info p {
    color: #795638ff;
    margin-bottom: 5px;
}

.book-info .btn {
    background-color: #795638ff;
    color: #fff;
    border: none;
}

.book-info .btn:hover {
    background-color: #C19151ff;
}

.book-info .fa-star {
    color: #C19151ff;
}

.review-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.review-card h5 {
    color: #45301Fff;
    margin-bottom: 10px;
}

.review-card p {
    color: #000;
    margin-bottom: 10px;
}

.review-text {
    color: #000;
    margin-bottom: 0;
}

.review-actions {
    margin-top: 10px;
    text-align: right;
}

.review-actions .btn {
    margin-left: 5px;
    color: #795638ff;
    border-color: #795638ff;
}

.review-actions .btn:hover {
    color: #C19151ff;
    border-color: #C19151ff;
}

.review-comment {
    margin-top: 10px;
}

.review-comment .btn {
    background-color: #795638ff;
    color: #fff;
}

.review-comment .btn:hover {
    background-color: #C19151ff;
}

.modal-dialog {
    margin: 1.75rem auto;
    max-width: 800px;
}

.modal-body {
    padding: 20px;
}

.modal-body .col-md-8 {
    margin-top: 20px;
}

.modal-body .btn {
    width: 100%;
    margin-top: 20px;
}

.content-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.notification-card {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-card h5 {
    color: #45301Fff;
}

.notification-card p {
    color: #795638ff;
}

.text-uppercase{
    margin-top:0 ;
}

.loginButton{
    display:flex;
    justify-content: center;
}

.book-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.book-cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.book-info h5 {
    color: #45301Fff;
    margin-bottom: 10px;
}

.book-info p {
    color: #795638ff;
    margin-bottom: 5px;
}

.book-info .btn {
    background-color: #795638ff;
    color: #fff;
    border: none;
}

.book-info .btn:hover {
    background-color: #C19151ff;
}