<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MyReadings - La tua biblioteca digitale</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" class="navbar-icon" width="48" height="48" alt="MyReadings"> MyReadings
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books">Biblioteca</a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="mybooks">Libri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reviews">Recensioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="notifications">Notifiche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacts">Contatti</a>
                </li>
                <!-- Link visibile solo agli autori -->
                <li class="nav-item" id="addBookLink" style="display: none;">
                    <a class="nav-link" href="addbook">Aggiungi un libro</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Cerca libri, autori e generi" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
            </form>
        </div>
    </nav>
    <div class="header-image">
        <img src="images/cover.jpg" alt="Featured Image" class="img-fluid">
        <div class="header-content">
            <h1>Benvenuto in MyReadings</h1>
            <h5>La biblioteca digitale dove poter scoprire, <br> recensire e condividere le tue letture.</h5>
            <a href="newsletter" class="btn btn-discover-more">Scopri di più</a>
        </div>
        <div class="login-panel">

            <div class="transparent-box mt-3">
                <form class="form-signup-login">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Indirizzo Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class = "loginButton">
                        <button type="submit" class="btn btn-primary mr-2">Accedi</button>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='register'">Registrati</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="footer bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-4">
                    <h5 class="text-uppercase">MyReadings</h5>
                    <p>
                        Scopri, recensisci e condividi
                    </p>
                </div>
                <div class="col-4">
                    <h5 class="text-uppercase">Link utili</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" class="text-dark">Privacy Policy</a></li>
                        <li><a href="#!" class="text-dark">Termini e Condizioni</a></li>
                        <li><a href="#!" class="text-dark">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <h5 class="text-uppercase">Contatti</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="mailto:info@myreadings.com" class="text-dark">info@myreadings.com</a></li>
                        <li><a href="#!" class="text-dark">+39 123 456 7890</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-dark" href="#">MyReadings</a>
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function selectRole(userType) {
            if (userType === 'author') {
                document.getElementById('addBookLink').style.display = 'block';
            }
        }
    </script>
</body>
</html>
