<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Recensioni - MyReadings</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" class="navbar-icon" width="48" height="48" alt="MyReadings"> MyReadings
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mybooks">Libri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reviews">Recensioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="notifications">Notifiche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacts">Contatti</a>
                </li>
                <!-- Link visibile solo agli autori -->
                <li class="nav-item" id="addBookLink" style="display: none;">
                    <a class="nav-link" href="addbook">Aggiungi un libro</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Cerca libri, autori e generi" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
            </form>
        </div>
    </nav>
    
    <div class="container my-5">
        <h1 class="text-center">Recensioni</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="review-card">
                    <h5>Oceano Mare</h5>
                    <p>Autore: Alessandro Baricco</p>
                    <p>Valutazione: 
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <div class="review-actions">
                        <button class="btn btn-outline-success"><i class="fa fa-thumbs-up"></i> Like</button>
                        <button class="btn btn-outline-danger"><i class="fa fa-thumbs-down"></i> Dislike</button>
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#commentModal"><i class="fa fa-comment"></i> Commenta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal per i commenti -->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Commenti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="comment-section">
                        <!-- Placeholder per i commenti -->
                        <div class="comment">
                            <p><strong>Utente1:</strong> Questo libro è fantastico!</p>
                        </div>
                        <div class="comment">
                            <p><strong>Utente2:</strong> Non mi è piaciuto molto.</p>
                        </div>
                    </div>
                    <div class="review-comment">
                        <textarea class="form-control" rows="3" placeholder="Scrivi un commento..."></textarea>
                        <button class="btn btn-primary mt-3">Invia commento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">MyReadings</h5>
                    <p>
                        Scopri, recensisci e condividi
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Link utili</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" class="text-dark">Privacy Policy</a></li>
                        <li><a href="#!" class="text-dark">Termini e Condizioni</a></li>
                        <li><a href="#!" class="text-dark">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contatti</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="mailto:info@myreadings.com" class="text-dark">info@myreadings.com</a></li>
                        <li><a href="#!" class="text-dark">+39 123 456 7890</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-dark" href="#">MyReadings</a>
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function loginAs(userType) {
            if (userType === 'author') {
                document.getElementById('addBookLink').style.display = 'block';
            }
        }
    </script>
</body>
</html>
